body {
    max-width: calc(100vw - 200px);
    margin: 0 auto;
    padding: 3% 50px;
    font-size: 1.7rem;
}

h2 {
    font-size: 2rem;
}

.desc p {
    font-size: 1.5rem;
}

.main {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;

}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


textarea {
    width: calc(100% - 40px);
    height: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: Arial, sans-serif;
}

textarea:disabled {
    background-color: #f4f4f4;
    color: #888;
    height: 150px;
}

.copy-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2em;
    color: #333;

}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desc img {
    margin-top: 3rem;
    max-width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons>div {
    margin: 5px;
}


button {
    color: #fff;
    background-color: #0000FF;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 50px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }
}



button#decodeBt {
    background-color: red;
}

.buttons #encodeBt:hover,
.buttons #decodeBt:hover {
    background-color: gray;
}